@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uup7em');
  src:  url('fonts/icomoon.eot?uup7em#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uup7em') format('truetype'),
    url('fonts/icomoon.woff?uup7em') format('woff'),
    url('fonts/icomoon.svg?uup7em#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-outline:before {
  content: "\e900";
  color: #fff;
}
.icon-mail-outline:before {
  content: "\e902";
  color: #fff;
}
.icon-web-outline:before {
  content: "\e903";
  color: #fff8dc;
}
.icon-youtube-outline:before {
  content: "\e904";
  color: #fff;
}
.icon-triangle-up:before {
  content: "\e90e";
  color: #00adee;
}
.icon-triangle-down:before {
  content: "\e901";
  color: #00adee;
}
.icon-tick:before {
  content: "\e96c";
}
.icon-pin:before {
  content: "\e90f";
}
.icon-chevron-thin-right:before {
  content: "\e948";
}
.icon-chevron-thin-left:before {
  content: "\e946";
}
.icon-chevron-down:before {
  content: "\e947";
}
.icon-chevron-up:before {
  content: "\e96f";
}
.icon-home:before {
  content: "\e949";
}
.icon-suitcase:before {
  content: "\e94a";
}
.icon-dropbox:before {
  content: "\e94c";
}
.icon-search:before {
  content: "\e94d";
}
.icon-chevron-left:before {
  content: "\e94e";
}
.icon-chevron-right:before {
  content: "\e94f";
}
.icon-close:before {
  content: "\e950";
}
.icon-facebook:before {
  content: "\e951";
}
.icon-people-2:before {
  content: "\e953";
}
.icon-phone-2:before {
  content: "\e954";
}
.icon-mail-2:before {
  content: "\e955";
}
.icon-edit-2:before {
  content: "\e956";
}
.icon-spin:before {
  content: "\e957";
}
.icon-plus-2:before {
  content: "\e958";
}
.icon-flickr:before {
  content: "\e959";
}
.icon-menu:before {
  content: "\e95a";
}
.icon-google-plus-2:before {
  content: "\e95b";
}
.icon-google-plus:before {
  content: "\e95c";
}
.icon-mail-1:before {
  content: "\e95d";
}
.icon-language:before {
  content: "\e95e";
}
.icon-google1:before {
  content: "\e95f";
}
.icon-instagram:before {
  content: "\e960";
}
.icon-linkedin:before {
  content: "\e961";
}
.icon-paypal:before {
  content: "\e962";
}
.icon-pinterest:before {
  content: "\e963";
}
.icon-noti:before {
  content: "\e964";
}
.icon-people:before {
  content: "\e965";
}
.icon-share:before {
  content: "\e966";
}
.icon-phone-3:before {
  content: "\e967";
}
.icon-edit:before {
  content: "\e968";
}
.icon-edit2:before {
  content: "\e977";
}
.icon-minus:before {
  content: "\e969";
}
.icon-plus:before {
  content: "\e96a";
}
.icon-skype:before {
  content: "\e96b";
}
.icon-tumblr:before {
  content: "\e96d";
}
.icon-phone-1:before {
  content: "\e96e";
}
.icon-twitter:before {
  content: "\e970";
}
.icon-vimeo:before {
  content: "\e971";
}
.icon-youtube-2:before {
  content: "\e972";
}
.icon-youtube:before {
  content: "\e973";
}
.icon-date:before {
  content: "\e974";
}
.icon-play:before {
  content: "\e975";
}
.icon-company:before {
  content: "\e976";
}
.icon-home1:before {
  content: "\e978";
}
.icon-smile:before {
  content: "\e979";
}
.icon-tag:before {
  content: "\e97a";
}
.icon-arrow-right:before {
  content: "\e9000";
}
.icon-arrow-top:before {
  content: "\e94b";
}
