$color1: #009944;
$color2: #FCC800;
$color3: #4A4A4A;
$color4: #007233;
$color5: #F6F6F6;
$color6: #2976E7;
$color7: #00A0E9;


$header:100px;

// Font 
$font1 :'Open Sans', sans-serif;
$font2 : 'Roboto', sans-serif;;


